@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Creepster', sans-serif;
}

body {
	background: rgb(42, 39, 59);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

header {
	position: relative;
	height: 80px;
	width: 100%;
	max-width: 1000px;
	background: rgb(138, 26, 91);
	text-align: center;
	margin: 5px;
}

.navbar {
	background: rgb(135, 205, 222);
	border-radius: 5px;
	height: 35px;
	line-height: 35px;
}

ul.navbar-menu li {
	display: inline-block;
	padding: 0px 50px 0px;
	color: rgb(42, 39, 59);
}

.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 5px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.container .left_side {
	position: relative;
	background: rgb(102, 19, 32);
	padding: 50px;
}

.profession {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	border-bottom: 1px solid;
}

.profession .img_avatar {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profession .img_avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profession h2 {
	color: black;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	line-height: 1.4em;
}

.profession h2 span {
	font-size: 0.6em;
	font-weight: 100;
}

.Contacts {
	padding-top: 20px;
}

.title {
	color: rgb(15, 28, 32);
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 25px;
	margin-bottom: 60 px;

}

.Contacts ul {
	position: relative;
}

.Contacts ul li {
	position: relative;
	list-style: circle;
	margin: 10px 0;
	cursor: po5inter;
}

.Education li {
	margin-bottom: 15px;
}

.Education h5 {
	font-weight: 300;
	letter-spacing: 1px;
}

.Education h4 {
	font-weight: 400;
}


.Languages ul li {
	position: relative;
	list-style: circle;
	margin: 10px 0;
	cursor: po5inter;
	text-decoration: none;
}

a:hover {
	color: rgb(0, 255, 149);
}

a {
	color: black;
}

.container .right_side {
	position: relative;
	background: #fff;
	padding: 40px;
}

.title2 {
	color: rgb(15, 28, 32);
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-bottom: 60 px;
}

.about p {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 20px;
}

.Skills h2 {
	margin-bottom: 20px;
}

.Skills ul li {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5em;

}

.title3 {
	color: rgb(15, 28, 32);
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 50px;
	margin-bottom: 60 px;
}

.Code pre {
	text-align: left;
}

.Code pre code {
	position: relative;
	letter-spacing: 3px;
	font-size: small;
	font-weight: 100;
}


footer {
	position: relative;
	height: 60px;
	width: 100%;
	max-width: 1000px;
	background: rgb(138, 26, 91);
	text-align: center;
	line-height: 60px;
	margin: 5px;
}

.logo_RS {
	height: 60px;
	width: 60px;
}